<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Perl GraphQL Dancer2 Demo</title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
</head>
<body>

<div id="page">
  <div id="content">
    <h1>Perl GraphQL Dancer2 Demo</h1>
    <h2>Click to <a href="/graphql">enter Graph<i>i</i>QL</a></h2>
  </div>
  <div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
  </div>
<div>
</body>
</html>
